body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/bg1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #ecf0f1;
}

header {
    background-color: #2c3e50;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navbar a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #3498db;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

footer {
    background-color: #2c3e50;
    padding: 2rem;
    text-align: center;
    margin-top: 100px;
    color: #ecf0f1;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #2c3e50;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.sponser {
    color: #bdc3c7;
    font-family: Arial, Helvetica, sans-serif;
}

.Generator {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #3a5269;
    height: 360px;
    color: #ecf0f1;
    margin: 0 auto;
    border-radius: 0px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.user-profile {
    margin: 2rem auto;
    background-color: #2c3e50;
    width: 50%;
    color: #ecf0f1;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.user-profile img {
    border: 5px solid #ecf0f1;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
}

#hover-data {
    font-size: 24px;
    color: #ecf0f1;
    margin-bottom: 1rem;
    visibility: hidden;
}

#user-display {
    font-size: 24px;
    color: #ecf0f1;
    margin-top: 1rem;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 1rem;
    align-items: center;
}

.icon {
    font-size: 40px;
    color: #bdc3c7;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #3498db;
}

.icon:before, .icon:after {
    content: "\00a0";
    font-size: 40px;
    visibility: hidden;
}
